<a href="https://colab.research.google.com/github/alexmrin/Kaggle/blob/main/PandasPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
practice = pd.read_csv('/content/drive/MyDrive/pandas practice/pandas_demo.csv')

In [4]:
practice

      name  age           city             job  salary
0    Alice   28       New York        Engineer   75000
1      Bob   24    Los Angeles  Data Scientist   82000
2  Charlie   30  San Francisco         Manager   90000
3    David   29        Chicago         Analyst   70000
4      Eve   22         Boston        Engineer   71000
5    Frank   27        Seattle         Manager   88000
6    Grace   26         Austin  Data Scientist   79000
7   Hannah   25         Denver         Analyst   72000

In [5]:
practice.city = practice.city.map(lambda cty: cty.upper())

In [6]:
def experience(row):
  if row.age < 25:
    return 'Junior'
  elif row.age < 30:
    return 'Mid-level'
  else:
    return 'Senior'

experience_level = practice.apply(experience, axis=1)
practice['experience_level'] = experience_level
practice

      name  age           city             job  salary experience_level
0    Alice   28       NEW YORK        Engineer   75000        Mid-level
1      Bob   24    LOS ANGELES  Data Scientist   82000           Junior
2  Charlie   30  SAN FRANCISCO         Manager   90000           Senior
3    David   29        CHICAGO         Analyst   70000        Mid-level
4      Eve   22         BOSTON        Engineer   71000           Junior
5    Frank   27        SEATTLE         Manager   88000        Mid-level
6    Grace   26         AUSTIN  Data Scientist   79000        Mid-level
7   Hannah   25         DENVER         Analyst   72000        Mid-level

In [7]:
avg = practice.salary.mean()
f'average salary is ${avg:.2f}'
oldestID = practice.age.idxmax()
f'oldest person is {practice.loc[oldestID, "name"]} and is {practice.loc[oldestID, "age"]} years old.'
youngestID = practice.age.idxmin()
f'youngest person is {practice.loc[youngestID, "name"]} and is {practice.loc[youngestID, "age"]} years old.'

'youngest person is Eve and is 22 years old.'

In [8]:
avg_salaries = practice.groupby(['experience_level']).salary.mean()
avg_salaries

experience_level
Junior       76500.0
Mid-level    76800.0
Senior       90000.0
Name: salary, dtype: float64

In [9]:
'''Add a new column named job_city which combines the job and city columns. The format should be "Job in City" (e.g., "Engineer in New York").'''

'Add a new column named job_city which combines the job and city columns. The format should be "Job in City" (e.g., "Engineer in New York").'

In [10]:
practice['job_city'] = practice.job + " in " + practice.city.map(lambda x: x.title())
practice

,name,age,city,job,salary,experience_level,job_city
0,Alice,28,NEW YORK,Engineer,75000,Mid-level,Engineer in New York
1,Bob,24,LOS ANGELES,Data Scientist,82000,Junior,Data Scientist in Los Angeles
2,Charlie,30,SAN FRANCISCO,Manager,90000,Senior,Manager in San Francisco
3,David,29,CHICAGO,Analyst,70000,Mid-level,Analyst in Chicago
4,Eve,22,BOSTON,Engineer,71000,Junior,Engineer in Boston
5,Frank,27,SEATTLE,Manager,88000,Mid-level,Manager in Seattle
6,Grace,26,AUSTIN,Data Scientist,79000,Mid-level,Data Scientist in Austin
7,Hannah,25,DENVER,Analyst,72000,Mid-level,Analyst in Denver

In [11]:
'''How many people have a salary above the overall average and are classified as 'Mid-level'?'''

"How many people have a salary above the overall average and are classified as 'Mid-level'?"

In [12]:
overall_avg = practice.salary.mean()

def above_avg(person):
  if person.salary > overall_avg:
    return 1
  else:
    return 0

mid_level = practice.loc[(practice.experience_level == 'Mid-level')]
top_mid_level = mid_level.apply(above_avg, axis=1)
top_mid_level = top_mid_level.sum()
top_mid_level

2

In [13]:
'''Find the city with the highest number of employees. Calculate the median age of employees in each city.'''

'Find the city with the highest number of employees. Calculate the median age of employees in each city.'

In [14]:
highest_city = practice.city.value_counts()
max_num = highest_city.max()
highest_cities = highest_city.loc[highest_city == max_num].index.map(lambda x: x.title()).tolist()
print(highest_cities)

median_ages = practice.groupby('city').age.median()
print(median_ages)

['New York', 'Los Angeles', 'San Francisco', 'Chicago', 'Boston', 'Seattle', 'Austin', 'Denver']
city
AUSTIN           26.0
BOSTON           22.0
CHICAGO          29.0
DENVER           25.0
LOS ANGELES      24.0
NEW YORK         28.0
SAN FRANCISCO    30.0
SEATTLE          27.0
Name: age, dtype: float64

In [15]:
'''Subtract the mean salary from each individual's salary and store the result in a new column named salary_deviation_from_mean. '''

"Subtract the mean salary from each individual's salary and store the result in a new column named salary_deviation_from_mean. "

In [16]:
# overall_avg
practice['salary_deviation_from_mean'] = practice.salary - overall_avg
practice

,name,age,city,job,salary,experience_level,job_city,salary_deviation_from_mean
0,Alice,28,NEW YORK,Engineer,75000,Mid-level,Engineer in New York,-3375.0
1,Bob,24,LOS ANGELES,Data Scientist,82000,Junior,Data Scientist in Los Angeles,3625.0
2,Charlie,30,SAN FRANCISCO,Manager,90000,Senior,Manager in San Francisco,11625.0
3,David,29,CHICAGO,Analyst,70000,Mid-level,Analyst in Chicago,-8375.0
4,Eve,22,BOSTON,Engineer,71000,Junior,Engineer in Boston,-7375.0
5,Frank,27,SEATTLE,Manager,88000,Mid-level,Manager in Seattle,9625.0
6,Grace,26,AUSTIN,Data Scientist,79000,Mid-level,Data Scientist in Austin,625.0
7,Hannah,25,DENVER,Analyst,72000,Mid-level,Analyst in Denver,-6375.0

In [17]:
'''Find out who (name) has the highest salary among the 'Junior' experience level.'''

"Find out who (name) has the highest salary among the 'Junior' experience level."

In [19]:
highest_junior = practice.loc[practice.experience_level == 'Junior']['salary'].idxmax()
highest_junior = practice.loc[highest_junior, 'name']
highest_junior

'Bob'

In [ ]:
'''For each experience level, find the city that has the highest average salary.'''

In [ ]:
mean_salaries = practice.groupby(["experience_level", "city"]).salary.mean().reset_index()
ranked_salaries = mean_salaries.sort_values(by=['experience_level', 'salary'], ascending=[True, False])
top_cities = ranked_salaries.drop_duplicates(subset=['experience_level'])
top_cities = top_cities.city.map(lambda x: x.title()).tolist()
top_cities

In [ ]:
'''Create a new column named salary_category: If the salary is in the top 25% of all salaries, label as 'High'. If the salary is in the bottom 25% of all salaries, label as 'Low'. Otherwise, label as 'Medium'.'''

In [ ]:
top = practice.salary.quantile(.75)
bottom = practice.salary.quantile(.25)
def salary_categorize(person):
  if person.salary >= top:
    return 'High'
  elif person.salary <= bottom:
    return 'Low'
  else:
    return 'Medium'

practice['salary_category'] = practice.apply(salary_categorize, axis=1)
practice

In [ ]:
'''Count how many missing values there are in each column. Fill any missing values in the salary column with the average salary.'''

In [ ]:
num_missing = practice.apply(lambda x: x.isnull(),axis=0).sum()
# overall_avg
practice = practice.fillna({'salary': overall_avg})
practice